ipdb

pytest
pytest-forked

shibuya
sphinx==7.2.6
sphinx-autodoc-typehints[type_comments]>=1.8.0
typing-extensions

# Sentry
# -e ../../code/sentry-python/  # local dev version of sentry python sdk.
# sentry-sdk==1.11.0  # production version of sentry python sdk from PyPI.
